@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500&family=Open+Sans:wght@400;500&family=PT+Serif&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&family=Space+Mono&family=Work+Sans:wght@400;500;600;700&display=swap');


/* common classes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
  /* Color (primary: #172D13  Secondary: #6BB77B Button: #D76F30) */

/* navbar section start */

nav {
    background-color:#172D13 ;
    color: aliceblue;
}

.nav-container {
    min-height: 65px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-bar {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

li {
    display: inline-block;
}

ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar img {
    width: 60px;
}

.urban-hive {
    font-size: 1.50rem;
    font-weight: 800;

}

.Btn-primary {
    border: 2px solid black;
    background-color: #D76F30;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}

.Btn-primary:hover {
    background-color: #6BB77B;
    transition: 0.3s;
}


/* header section start */

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 370px;
    background-color: rgb(242, 242, 242);
    display: flex;
    margin-top: 30px;
    box-shadow: 2px 2px 10px rgb(208, 206, 206);
    border-radius: 10px;
}

.header-text {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 50%;
}
.header-img img {
    width: 100%;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
}

.text-head h1 {
    margin: 10px 0;
    color: #172D13;
}
.text-head h2 {
    margin: 10px 0;
}
.text-head .icons {
    margin: 15px 0;
}

.icons i {
    margin-right: 10px;
}
.see-shop {
    margin-right: 10px;
    color: aliceblue;
    background-color: #D76F30;
}

/* All products section start */

.product-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    grid-auto-rows: auto;
    

}

.product-cards {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 10px rgb(208, 206, 206);
}

.product-cards img {
    width: 70%;
}

.cards-text {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.p-icons i {
    font-size: 20px;
    margin-right: 5px;
    background-color: #D76F30;
    padding: 5px;
    border-radius: 50%;
}

.cards-text h4 {
    font-size: 20px;
}

.product-cards p {
    margin: 20px;
    margin-top: 10px;
}

                            /* product sample section start */

.sample-container {
    background-color: #172D13;
    margin-top: 50px;
}

.product-sample {
    max-width: 1200px;
    margin: 0 auto;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
}


.sample-img img {
    width: 55%;
    display: block;
    display: flex;
    justify-content: center;
    shadow: 2px 2px 10px bisque;
}


.sample-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.sample-text {
    width: 50%;
} 


.off {
    width: 70px;
    height: 70px;
    background-color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: black;
    position: absolute;
    right: 28%;
    top: 0%;
}

/* customar revew section start  */

.customar-container {
    min-height: 400px;
}









@media screen and (max-width:576px) {
    
  .nav-container,ul, .header-container, .product-sample, .sample-img img {
    flex-direction: column;
  }  

.header-img {
    width: 100%;
}
.header-text {
    width: 100%;
}

li {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}

.product-container  {
    grid-template-columns: 1fr;
}

.product-cards img {
    width: 50%;
}

.product-sample {

}

.sample-text {
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.sample-img {
    width: 100%;
    padding: 30px;
}

}